# Ejercicios

In [6]:
# imprimir valor

print("Hola Mundo")

Hola Mundo

In [8]:
# Inserte la sangría que falta para corregir el código:
if 5> 2:
 print ("¡Cinco es mayor que dos!")

¡Cinco es mayor que dos!

In [9]:
# caracter para realizar comentarios es #

#This is a comment

In [11]:
# para realizar multiples comentarios """  """

"""
This is a comment
written in 
more that just one line
"""

'\nThis is a comment\nwritten in \nmore that just one line\n'

In [15]:
# cree una variable llamada carname y asígnele el valor Volvo.
carname = "Volvo"
print(carname)

Volvo

In [16]:
# Cree una variable llamada x y asígnele el valor 50.
x=50
print(x)

50

In [20]:
#Muestra la suma de 5 + 10, usando dos variables: x y y.

x = 5
y = 10
print(x + y)

15

In [21]:
# Cree una variable llamada z, asígnela x + y y muestre el resultado.
x = 5
y = 10
z = x + y
print(z)

15

In [24]:
# Elimine los caracteres ilegales en el nombre de la variable:
my_first_name = "John"
print(my_first_name)

John

In [28]:
# Inserte la sintaxis correcta para asignar el mismo valor a las tres variables en una línea de código.
X = y = z = "Naranja"
print(x)
print(y)
print(z)

5
Naranja
Naranja

In [30]:
# Inserte la palabra clave correcta para que la variable x pertenezca al ámbito global.
def myfunc():
  global x
x = "fantastic"
print(x)

fantastic

In [31]:
# El siguiente ejemplo de código imprimiría el tipo de datos de x, ¿qué tipo de datos sería ese?
x = 5
print(type(x))

<class 'int'>

In [32]:
# El siguiente ejemplo de código imprimiría el tipo de datos de x, ¿qué tipo de datos sería ese?
x = "Hello World"
print(type(x))

<class 'str'>

In [33]:
# El siguiente ejemplo de código imprimiría el tipo de datos de x, ¿qué tipo de datos sería ese?
x = 20.5
print(type(x))

<class 'float'>

In [35]:
#El siguiente ejemplo de código imprimiría el tipo de datos de x, ¿qué tipo de datos sería ese?

x = ["apple", "banana", "cherry"]
print(type(x))

<class 'list'>

In [36]:
#El siguiente ejemplo de código imprimiría el tipo de datos de x, ¿qué tipo de datos sería ese?
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [37]:
#El siguiente ejemplo de código imprimiría el tipo de datos de x, ¿qué tipo de datos sería ese?

x = {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [38]:
#El siguiente ejemplo de código imprimiría el tipo de datos de x, ¿qué tipo de datos sería ese?

x = True
print(type(x))

<class 'bool'>

In [42]:
#Inserte la sintaxis correcta para convertir x en un número decimal.

x = 5
x = float(x)
print(x)

5.0

In [43]:
###Inserte la sintaxis correcta para convertir x en un entero.
x = 5.5
x = int(x)
print(x)

5

In [44]:
#Inserte la sintaxis correcta para convertir x en un número complejo.
x = 5
x = complex(x)
print(x)

(5+0j)

In [45]:
#Use el lenmétodo para imprimir la longitud de la cadena.
x = "Hola mundo"
print(len(x))

10

In [46]:
#Obtén el primer carácter de la cadena txt
txt = "Hello World"
x = txt[0]
print(x)

H

In [47]:
#Obtenga los caracteres del índice 2 al índice 4 ( llo).
txt = "Hello World"
x = txt[2:5]
print(x)

llo

In [48]:
#Devuelve la cadena sin espacios en blanco al principio o al final.
txt = " Hello World "
x = txt.strip()
print(x)

Hello World

In [49]:
#Convierta el valor de txta mayúsculas.
txt = "Hello World"
txt = txt.upper()
print(txt)

HELLO WORLD

In [50]:
#Convierta el valor de txta minúsculas.
txt = "Hello World"
txt = txt.lower()
print(txt)

hello world

In [51]:
#Reemplace el personaje Hcon a J.
txt = "Hello World"
txt = txt.replace("H", "J")
print(txt)

Jello World

In [52]:
#Inserte la sintaxis correcta para agregar un marcador de posición para el parámetro de edad.

edad = 36
txt = "Mi nombre es John y soy {}"
print (txt.format (edad))

Mi nombre es John y soy 36